.nav {
  background-color: crimson;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav :global(.active) {
  background-color: greenyellow;
}

:global(.test) {
  background-color: aquamarine;
}
